*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-size: 1.6rem;
}

body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.title-logo {
  color: #295943;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  height: 6rem;
  width: 100%;
  padding: 0 5.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  z-index: 9999;
}
@media (max-width: 500px) {
  .header {
    display: flex;
    padding: 0 2rem 0 2.4rem;
  }
}
.header__title {
  font-size: 3.318rem;
  font-weight: 400;
}
@media (max-width: 500px) {
  .header__title {
    font-size: 2.2rem;
  }
}
.header__nav__list {
  list-style: none;
  display: flex;
  gap: 5rem;
}
.header__nav__link:hover {
  color: #43b97f;
  font-weight: 700;
  text-wrap: nowrap;
}
@media (max-width: 500px) {
  .header__nav {
    display: none;
  }
}
.header__id {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__id__lang {
  width: 3rem;
}
.header__id__text {
  font-weight: 700;
}
.header__id__burger {
  height: 90%;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  display: none;
}
.header__id__burger img {
  max-width: 50%;
  max-height: 50%;
}
.header__id__burger:hover {
  background-color: rgba(61, 62, 72, 0.11);
}
.header__id__burger:active {
  background-color: rgba(61, 62, 72, 0.2);
}
@media (max-width: 500px) {
  .header__id__burger {
    display: flex;
  }
}

.section--hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../assets/hero-bg.png") center/cover no-repeat;
  height: 100svh;
}
@media (max-width: 500px) {
  .section--hero {
    height: 120svh;
  }
}
.section--hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.8rem;
  max-width: 40%;
}
@media (max-width: 1376px) {
  .section--hero__content {
    max-width: 60%;
  }
}
@media (max-width: 500px) {
  .section--hero__content {
    max-width: 80%;
  }
}
@media (max-width: 500px) {
  .section--hero__content {
    max-width: 88%;
  }
}
.section--hero__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3rem 6rem;
  border-radius: 1rem;
  color: #f9f9f9;
  line-height: 7rem;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px) saturate(140%);
  align-items: center;
  gap: 2.2rem;
}
@media (max-width: 500px) {
  .section--hero__text {
    padding: 2.25rem;
    backdrop-filter: blur(2px) saturate(130%) brightness(115%);
  }
}
.section--hero__text__title {
  text-align: center;
  font-size: 6.4rem;
  line-height: 7.2rem;
  font-weight: 500;
}
@media (max-width: 1376px) {
  .section--hero__text__title {
    font-size: 5rem;
  }
}
@media (max-width: 500px) {
  .section--hero__text__title {
    font-size: 4.3rem;
    line-height: 4.5rem;
    font-weight: 700;
  }
}
.section--hero__text__p {
  text-align: justify;
  max-width: 70ch;
  font-size: 2.3rem;
  font-weight: 400;
  line-height: 3.3rem;
  text-transform: capitalize;
  text-shadow: 0 0 4p x rgba(255, 255, 255, 0.1);
}
@media (max-width: 1376px) {
  .section--hero__text__p {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.8rem;
  }
}
.section--hero__inputs {
  display: flex;
  align-items: center;
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
  width: 100%;
  justify-content: center;
  background-color: #ffffff;
  text-wrap: nowrap;
}
@media (max-width: 500px) {
  .section--hero__inputs svg {
    display: none;
  }
}
.section--hero__inputs svg {
  width: 1.5rem;
  margin: 0 1.6rem;
}
.section--hero__inputs svg path:hover {
  fill: #43b97f;
}
.section--hero__inputs__form {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 500px) {
  .section--hero__inputs__form {
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1.2rem;
  }
}
.section--hero__inputs__form input {
  border: none;
  padding: 0 2.4rem;
  width: 16rem;
}
@media (max-width: 1376px) {
  .section--hero__inputs__form input {
    width: 12rem;
    padding: 0;
  }
}
@media (max-width: 500px) {
  .section--hero__inputs__form input {
    height: 6rem;
    padding: 1rem;
    width: 100%;
    border: 2px solid rgba(61, 62, 72, 0.7);
    border-radius: 0.8rem;
  }
}
.section--hero__inputs__form input:nth-child(n+2) {
  border-left: 1px solid #3d3e48;
}
@media (max-width: 500px) {
  .section--hero__inputs__form input:nth-child(n+2) {
    height: 6rem;
    padding: 1rem;
    width: 100%;
    border: 2px solid rgba(61, 62, 72, 0.5);
    border-radius: 0.8rem;
  }
}
.section--hero__inputs__form input:nth-child(n+2):focus {
  border-color: #3d3e48;
}
.section--hero__inputs__form input:nth-child(n+2):focus::placeholder {
  color: transparent;
}
.section--hero__inputs__form input::placeholder {
  padding-left: 0.4rem;
  font-size: 1.6rem;
  color: rgba(61, 62, 72, 0.7);
}
.section--hero__inputs__form input:focus {
  box-shadow: 0 0 5px 0 rgba(61, 62, 72, 0.2);
  border-color: #3d3e48;
  outline: none;
}
.section--hero__inputs__form input:focus::placeholder {
  color: transparent;
}
.section--hero__inputs__form button {
  background-color: #43b97f;
  border: none;
  border-radius: 1rem;
  color: #ffffff;
  padding: 1.8rem 3.2rem;
  margin-top: 1rem;
  cursor: pointer;
}
.section--hero__inputs__form button:hover {
  background-color: rgba(67, 185, 127, 0.75);
}
.section--hero__inputs__form button:active {
  background-color: rgba(67, 185, 127, 0.95);
}

.section--qualities {
  height: 36rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6rem;
}
.section--qualities__container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}
.section--qualities__container__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 15rem;
}
.section--qualities__container__item__number {
  font-size: 4.2rem;
  font-weight: 700;
  color: #295943;
}
@media (max-width: 500px) {
  .section--qualities__container {
    flex-wrap: wrap;
  }
}

.section--destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14rem;
}
.section--destinations__subtitle {
  font-size: 2.2rem;
  text-align: center;
  color: #295943;
}
@media (max-width: 500px) {
  .section--destinations__subtitle {
    font-size: 2.1rem;
  }
}
.section--destinations__title {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 2rem;
}
@media (max-width: 500px) {
  .section--destinations__title {
    font-size: 3.1rem;
  }
}
.section--destinations__destination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.4rem 2.4rem;
  width: 100%;
}
@media (max-width: 500px) {
  .section--destinations__destination-list {
    gap: 4.8rem;
  }
}
.section--destinations__destination-list__destination {
  position: relative;
  width: 50rem;
  height: 40rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 9px 0px rgba(61, 62, 72, 0.35);
}
@media (max-width: 500px) {
  .section--destinations__destination-list__destination {
    height: 30rem;
    max-width: 95%;
    padding: 1rem;
    box-shadow: 0 2px 10px 0px rgba(61, 62, 72, 0.5);
  }
}
.section--destinations__destination-list__destination img {
  border-radius: 1rem;
  object-fit: cover;
  max-width: 100%;
  aspect-ratio: 8/5;
}
.section--destinations__destination-list__destination__travel-time {
  position: absolute;
  right: 1rem;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}
.section--destinations__destination-list__destination__travel-time img {
  aspect-ratio: 1/1;
  padding: 1rem;
}

.section--recs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}
.section--recs__subtitle {
  font-size: 2.2rem;
  text-align: center;
  color: #295943;
}
@media (max-width: 500px) {
  .section--recs__subtitle {
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
  }
}
.section--recs__title {
  font-size: 4rem;
  text-align: center;
  padding-bottom: 5rem;
}
@media (max-width: 500px) {
  .section--recs__title {
    font-size: 3.2rem;
    max-width: 80%;
    padding-bottom: 2.8rem;
    line-height: 3.6rem;
  }
}
.section--recs__rec-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem 2rem;
  justify-content: center;
}
.section--recs__rec-list__rec {
  position: relative;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  gap: 2rem;
  color: #3d3e48;
  transition: all 0.4s ease;
  overflow: hidden;
  flex: 0 1 50rem;
}
@media (max-width: 500px) {
  .section--recs__rec-list__rec {
    max-width: 80%;
    color: #ffffff;
    background-color: #43b97f;
    border-radius: 0.8rem;
    padding: 2rem;
  }
}
.section--recs__rec-list__rec__profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.8rem;
  height: 6rem;
}
.section--recs__rec-list__rec__profile img {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
}
.section--recs__rec-list__rec__profile__name {
  font-size: 2.3rem;
  font-weight: 700;
}
.section--recs__rec-list__rec::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate(0, 100%);
  transition: all 0.2s linear;
  background-color: #43b97f;
  opacity: 0;
}
.section--recs__rec-list__rec:hover {
  color: #ffffff;
}
.section--recs__rec-list__rec:hover::after {
  transform: translate(0, 0);
  opacity: 1;
  z-index: -1;
}

.footer {
  display: flex;
  align-items: center;
  background-color: #295943;
  padding: 0 6rem;
  height: 8.9rem;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .footer {
    padding: 0 4rem;
    height: 7.2rem;
  }
}
.footer__title {
  color: #f9f9f9;
  font-weight: 400;
  font-size: 3.318rem;
}
@media (max-width: 500px) {
  .footer__title {
    font-size: 2.3rem;
  }
}
.footer__social-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
@media (max-width: 500px) {
  .footer__social-list {
    gap: 2rem;
  }
}
.footer__social-list__item {
  display: flex;
  align-items: center;
}
.footer__social-list__link {
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
