@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;

.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  height: 6rem;
  width: 100%;
  padding: 0 5.5rem;
  align-items: center;
  justify-content: space-between;
  background-color: clr(light, 100);
  z-index: 9999;

  @include breakpoint(sm) {
    display: flex;
    padding: 0 2rem 0 2.4rem;
  }

  &__title {
    font-size: 3.318rem;
    font-weight: 400;

    @include breakpoint(sm) {
      font-size: 2.2rem;
    }
  }

  &__nav {
    &__list {
      list-style: none;
      display: flex;
      gap: 5rem;
    }

    &__link {
      &:hover {
        color: clr(primary, 100);
        font-weight: 700;
        text-wrap: nowrap;
      }
    }

    @include breakpoint(sm) {
      display: none;
    }
  }

  &__id {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__lang {
      width: 3rem;
    }

    &__text {
      font-weight: 700;
    }

    &__burger {
      height: 90%;
      aspect-ratio: 1 / 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      display: none;

      img {
        max-width: 50%;
        max-height: 50%;
      }

      &:hover {
        background-color: rgba(clr(dark), 0.11);
      }

      &:active {
        background-color: rgba(clr(dark), 0.2);
      }

      @include breakpoint(sm) {
        display: flex;
      }
    }
  }
}
