@use "../abstract/functions" as *;

.section--qualities {
  height: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    &__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__number {
        font-size: 4.2rem;
        font-weight: 700;
        color: clr(primary, 200);
      }
    }
  }
}
