@use "../abstract/functions" as *;

.section--destinations {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14rem;
  &__subtitle {
    font-size: 2.2rem;
    text-align: center;
    color: clr(primary, 200);
  }

  &__title {
    font-size: 4rem;
    text-align: center;
    padding-bottom: 5rem;
  }

  &__destination-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3.4rem 2.4rem;
    &__destination {
      position: relative;
      width: 50rem;
      height: 40rem;
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: 0 2px 8px 0 rgba(clr(dark), 0.25);
      img {
        border-radius: 1rem;
        object-fit: cover;
        max-width: 100%;
        aspect-ratio: 8 / 5;
      }

      &__travel-time {
        position: absolute;
        right: 1rem;
        bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;

        img {
          aspect-ratio: 1 / 1;
          padding: 1rem;
        }
      }
    }
  }
}
