$colors: (
  primary: (
    base: #43b97f,
    100: #43b97f,
    200: #295943,
  ),
  dark: (
    base: #3d3e48,
    100: #3d3e48,
    200: #000,
  ),
  light: (
    base: #f9f9f9,
    100: #ffffff,
    200: #f9f9f9,
  ),
);
